html, body {
  margin: 0; 
}

body{
    background: linear-gradient(to right, rgb(218, 213, 213), gray);
    font-family: 'montserrat', Arial, sans-serif;
    background: linear-gradient(to bottom, #e2f0f7, #d6eff5);
}

header{
    background-color: #BDE5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}   

.hcontainer{
    
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
}

.menu{
    width: 50%;
}
.menu h1{
    color: #2E3192;
    text-align: center;
    text-shadow: 2px 2px 15px rgb(172, 159, 159);
    font-weight: bold;
    margin-top: 50px;
}
.menu p{
    color: #2E3192;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(155, 154, 154);
}

.menu a {
    color: #2E3192;
    text-decoration: none;
}

.menu a:hover {
    color: #6f73df;
}

.container .text{
    margin: auto 0;
}

.container{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, rgb(184, 229, 247), rgb(241, 241, 241));
    height: 500px;
    border-radius: 30px;
    color: rgb(104, 87, 87);
    width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
}

.container.c2{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, rgb(241, 241, 241), rgb(184, 229, 247));
    height: 500px;
    border-radius: 30px;
    color: rgb(104, 87, 87);
    width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: right;
}

.container .img{
    margin: auto 0;
}

.container div{
    padding: 20px;
}

.next {
  margin-top: 30px;
  background: rgb(104, 87, 87);
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.next:hover {
  background: #192b3f;
}
