body {
      font-family: 'montserrat', Arial, sans-serif;
      background: linear-gradient(to bottom, #5fbeee, #95e2f5);
    }

.line{
    width: 70%;
    margin: 0 auto;
    padding: 10px 0px;
    background-color: white;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(199, 199, 199);
    gap: 40px;
    justify-content: space-between;
    padding: 0 50px;
}

.box {
    flex-basis: 40%;
    line-height: 1.5;
    flex-grow: 1;
}

.box p{
    margin: 20px 0;
}

.text{
    font-weight: bold;
}
.small_text{
    font-size: small;
}

.box.gr {
    background-color: rgb(242, 242, 242);
}

.container.gr {
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid rgb(199, 199, 199);
}

.container:last-of-type {
    border-bottom: none;
}

h1{
    text-align: center;
}

h2{
    padding-left: 50px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #2E3192;
    font-weight: 700;
}

.link:hover {
    color: #7f83e4;
}
